.carousel-inner img {
    width: 100%;
    max-height: 900px;
}

.carousel-caption {
    top: 20%;
    bottom: auto;
}

.btn {
    background-color: palevioletred;
    border-color: palevioletred;
}

p {
    font-size: 25px;
}

.name {
    font-family: 'Macondo', cursive;
    font-size: 100px;
    padding-bottom: 15%;
}

.title {
    font-size: 35px;
}

.title2 {
    font-size: 40px;
    margin-top: 20%;
}