<footer class="nb-footer" id="footer">
  <div class="container">
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.0757904191155!2d-0.13118898410268315!3d51.51182551820033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cd86ffc0df%3A0x52379ea32e69f22!2sMassage+Chinatown+silk+Spa!5e0!3m2!1suk!2sua!4v1525355577010"
      width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="footer-info-single">
      <h2 class="title">Contact</h2>
      <ul class="list-unstyled">
        <li>
          <a href="#" title="">
            <i class="fas fa-phone-square"></i>&nbsp;&nbsp;+(441) 665604691 </a>
        </li>
        <li>
          <a href="#" title="">
            <i class="fas fa-envelope"></i>&nbsp;&nbsp; pleasurehouse@.gmail.com</a>
        </li>
        <li>
          <a href="#" title="">
            <i class="fas fa-address-card"></i>&nbsp;&nbsp; 11 Little Newport St, London </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="social-media">
    <i class="fab fa-facebook social"></i>
    <i class="fab fa-instagram social"></i>
    <i class="fab fa-twitter-square social"></i>
    <i class="fab fa-tumblr-square social"></i>
    <i class="fab fa-google-plus-square social"></i>
  </div>
  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <p>Copyright © 2017</p>
        </div>
      </div>
    </div>
  </section>
</footer>