<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="#" [scrollTo]="'#home'"><img src="/assets/icon/icon.png" width="60" height="60" class="d-inline-block align-top"
      alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" [scrollTo]="'#home'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/service" [scrollTo]="'#service'">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/prices" [scrollTo]="'#prices'">Prices</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reservation" [scrollTo]="'#booking'">Make an appointment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/staff" [scrollTo]="'#staff'">Specialists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" [scrollTo]="'#footer'">Contact us</a>
      </li>

    </ul>
  </div>
</nav>